#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.overlay-content {
    width: 20%;
    padding: 10px;
    background-color: pink;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 5%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
.overlay-content > div {
    border-style: solid;
    border-color: black;
    padding: 10px;
}
